<div class="jumbotron">
<h1><i class="fa fa-compass"></i> Welcome to Stukdo</h1>

<p>Stukdo is your personal guide to sublime productivity and efficiency, like an Alfred to your Master Wayne.</p>

<p>(Warning: Stukdo does not come with access to any awesome batcave hideouts or lairs with high-tech weapons and gadgets. But rest assured, If Batman ever needed a productivity tool, He'd mostly likely use Stukdo.)</p>
<%= link_to "Sign Up", "#", class:"btn btn-primary btn-lg" %>
</div>