<div class="jumbotron">
<h1>Welcome to Stukdo</h1>
<p>Stukdo is your personal guide to sublime productivity and efficiency, Like an Alfred to your Master Wayne.</p>
<%= link_to "Sign Up", "#", class:"btn btn-primary btn-lg" %>
</div>